@import "../../../../colors";

.navbar {
    // mobile by default falls back to other colors
    a.navbar-item,
    .navbar-link {
        background-color: $primary;
        color: $primary-invert;

        &:focus,
        &:hover,
        &.is-active {
            background-color: darken($primary, 5%);
            color: $primary-invert;
        }
    }

    .navbar-brand .navbar-item {
        background-color: $secondary;
    }

    z-index: 201;
}


.navbar-brand {
    flex-wrap: nowrap;
    flex-direction: row;

    .logo-popout {
        width: auto;
        height: 10px;
        overflow: visible;
        align-self: flex-start;
        padding-right: 0.75rem;


        img {
            flex: none;
            width: auto;
            height: 75px;
            max-height: unset;
            border: 1px solid #ccc;
        }
    }
}
.notification {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 200;
}
