<div class="content">
    <h1>About the Gesproken Corpus van de zuidelijk-Nederlandse Dialecten (GCND)</h1>

    <h3>About GrETEL</h3>
    
    <p>
    GrETEL is a web application that enables researchers to search for grammatical constructions in text corpora based on an example of the construction. This makes it possible for a user to search for grammatical constructions without having to know the full details of the syntactic structures used in GrETEL or a query language.
    </p>
    <p>
    Versions 1 through 3 of GrETEL were created by KU Leuven [Augustinus et al. 2012], Utrecht University´s Centre for Digital Humanities (<a href="https://cdh.uu.nl/about/research-software-lab/">Research Software Lab</a>) has continued the development with versions 4 (<a href="https://gretel.hum.uu.nl/">gretel.hum.uu.nl</a>) and 5 (<a href="https://gretel5.hum.uu.nl/">gretel5.hum.uu.nl</a>). In version 4 the UU Centre for Digital Humanities added a component to analyse the search results and a component for users to upload their own text corpus [Odijk et al. 2018]. In version 5, which is still under development, a component has been added to enable search for flexible multiword expressions based on an example. [Odijk et al., to appear]. Further works on GreTEL include [Augustinus et al. 2017, Broeder & Odijk 2022, Odijk 2020a, Odijk 2022b, Odijk 2023]
    </p>
    <p>
    GrETEL has been used for a wide variety of linguistic research, resulting in multiple Ph.D. theses and scientific articles. These include [Augustinus & van Eynde 2012, 2015, 2017], [Augustinus 2015], [Bloem 2021], [Van Tuyl & Coopmans 2021], [Odijk 2015, 2016, 2020b, 2022a], [Van Eynde 2014], [Van Eynde et al. 2016]. And it is currently being used by a range of researchers, including Martin Kroon (UL, UU), Marijana Marelj (UU), F. Groothoff (UU), Floris Roelofsen (UvA), and the applicant, Aleksei Nazarov. It has also been used to enrich the Dutch Taalportaal with links to data in actual corpora [Bouma et al. 2015, Van der Wouden 2016, 2017]
    </p>
    <p>
    An educational package for GrETEL was developed in 2014 [Augustinus et al, 2014], and more recently a tutorial was given on GrETEL 4. This tutorial was recorded and is online available, together with the tutorial materials [Odijk 2022c].
    </p>
    <p>
    The development of GrETEL at UU has also given rise to a spin-off application called SASTA (Semi-Automatic Annotation of Spontaneous Language), which enables the automatic analysis of spontaneous language transcripts of young children with suspected language development delays or disorders or of patients with aphasia in accordance with a variety of established methods in this domain. [Odijk 2021].
    </p>
    <p>
    The GrETEL web application is hosted on servers of the UU DH-LAB, but also on the servers of the recognized CLARIN Type B Centre Instituut voor de Nederlandse Taal in order to ensure long term availability of this application to the research community (<a href="https://gretel.ivdnt.org/">gretel.ivdnt.org</a>).
    </p>


    <h3>About the GCND</h3>

    <p>
    The Spoken Corpus of the Southern Dutch Dialects (GCND) is a linguistically annotated corpus based on a unique collection of dialect recordings (Voices from the Past) from 768 different places in Belgium, northern France and the southern Netherlands among generally poorly mobile and poorly educated speakers born around 1900. The recordings were made at the initiative of two dialectologists, Willem Pée and Valeer Vanacker, at Ghent University between 1963 and 1976. The Ghent collection was supplemented within the GCND with new recordings (28 recordings from Brussels, Flemish Brabant and Limburg) and existing recordings from the Meertens Institute (73 recordings from the south of the Netherlands). 
    </p>
    <p>
    
    
    <img src="assets/gcnd_map.png" title="Map of the DSDD">
    
    </p>
    <p>
    The recordings were transcribed according to a newly developed transcription protocol - highly urgent in times of rapidly advancing dialect loss! - to then be linguistically enriched using existing tools with information on the word type of the individual words (‘pos-tags’) and with information on the syntactic functions of the word groups and their interrelationships (‘parsing’). A detailed description of the transcription process and linguistic enrichment can be found here. 
    </p>
    <p>
    Compared to existing data collections on Dutch dialects such as the Reeks Nederlandse Dialectatlassen (RND), the MAND, the FAND and the SAND, the GCND is unique because it contains only spontaneous speech. Especially for syntactic research, spontaneous speech is very important as a supplement to systematic queries (such as those of the SAND), because certain syntactic constructions are difficult to retrieve. Speakers are often unaware that they are using certain constructions.
    </p>
    <p>
    Since the dialect recordings represent a historical stage of the language (in the case of Franco-Flemish, even the last testimonies of a now almost extinct language variety) and the recordings are now easily searchable, the GCND makes it possible to (i) map language change processes geographically, (ii) quantitatively investigate the functionality of dialect features, and (iii) detect new, previously unnoticed and thus unclaimed structures. Therefore the GCND constitutes an unprecedented historical dialect corpus.
    </p>
    <h4>Version 1 (24-10-2024)</h4>
    
    
    <p>
    As of 24-10-2024, there are already 650 recordings from 639 different places in the corpus. Of the 639 transcriptions, 344 have been checked, and of the 344 checked transcriptions, 289 have been linguistically enriched. 70 of these have also been manually checked.
    </p>
    <h4>Partners</h4>
    
    
    <p>
    This is a project of the Universiteit Gent (Ghent University) in collaboration with the following partners:
    </p>
    <ul>
    
    <li>Instituut voor de Nederlandse Taal (Dutch Language Institute)</li>
    
    <li>Meertens Instituut (Meertens Institute)</li>
    
    <li>Rijksuniversiteit Groningen (University of Groningen)</li>
    
    <li>Variaties vzw</li>
    </ul>
    <h4>Funding</h4>
    
    
    <p>
    The GCND was established through the following funding channels:
    </p>
    <ul>
    
    <li>2020-2024: FWO Medium Research Infrastructure I.0.101.20N</li>
    
    <li>2018-2021: FWO Postdoctoral Fellowship junior 1.2.P79.19N to M. Farasyn (French-Flemish admissions)</li>
    
    <li>2021-2024: FWO Postdoctoral Fellowship senior 1.2.P79.22N to M. Farasyn (French-Flemish admissions)</li>
    
    <li>2019-2021: Grants provinces of Zeeland, West Flanders and East Flanders (pilot project)</li>
    
    <li>2018-2020: FWO Navorsers Credit 1,5,310.18N to A. Breitbarth (pilot project)</li>
    </ul>
    <h4>References</h4>
    
    <div class="text-indent">
    <p>
    
        Breitbarth, Anne, Melissa Farasyn, Anne-Sophie Ghyselen, Liliane Haegeman, and Jacques Van Keymeulen. 2021. ‘Ge Had Dien Een keer moeten eten En Zien! Neue Erkenntnisse Zum Gebrauch Der Partikel En Im Spoken Corpus of the (Southern) Dutch Dialects.’ In Syntax aus Saarbrücker Sicht 4: Beiträge der SaRDiS-Tagung zur Dialektsyntax, eds. Augustin Speyer and Julia Hertel, 67-83. Stuttgart: Franz Steiner Verlag. Zeitschrift Für Dialektologie Und Linguistik: Beihefte, 187.
    </p>
    <p>
    
        Breitbarth, Anne, Melissa Farasyn, Anne-Sophie Ghyselen & Jacques Van Keymeulen. 2020. ‘The Spoken Corpus of Southern Dutch Dialects’. Handelingen van de Konkinklijke Zuid-Nederlandse Maatschappij voor Taal- en Letterkunde en Geschiedenis (KZM) LXXII: 23-38.
    </p>
    <p>
    
        Farasyn, M., Ghyselen, A.-S., Van Keymeulen J. & A. Breitbarth (2022). Challenges in tagging and parsing spoken dialects of Dutch. Journal of Historical Syntax [Special issue ‘Annotating Historical Corpora’].
    </p>
    <p>
    
        Ghyselen, Anne-Sophie, Van Keymeulen, Jacques, Farasyn, Melissa, Hellebaut, Lien, & Breitbarth, Anne. 2020. The transcription protocol of the Spoken Corpus of Dutch Dialects (GCND). BULLETIN DE LA COMMISSION ROYALE DE TOPONYMIE & DIALECTOLOGIE (PRINTED) = PROCEEDINGS OF THE ROYAL COMMISSION FOR TOPONYMY & DIALECTOLOGY, 92, 83-115.
    </p>
    <p>
    
        Ghyselen, Anne-Sophie, Anne Breitbarth, Melissa Farasyn, Jacques Van Keymeulen & Arjan van Hessen. 2020. ‘Clearing the Transcription Hurdle in Dialect Corpus Building: The Corpus of Southern Dutch Dialects as Case-Study.’ Frontiers in Artificial Intelligence 3:10. doi: 10.3389/frai.2020.00010.
    </p>
    <p>
    
        Van Keymeulen, Jacques, Veronique De Tier, Anne Breitbarth, Anne-Sophie Ghyselen & Melissa Farasyn. 2019. ‘The Dialectological Corpus ‘Voices From The Past’ of Ghent University.’ Folklore 120 (2): 193-204.
    </p>
</div>
    
</div>
