
<table class="table is-hoverable is-fullwidth" *ngIf="treebankAndSelection$ | async as data">
  <thead>
        <tr>
            <th [attr.colspan]="data.variants.length || 1">
                <label class="checkbox" *ngIf="data.multiOption">
                    <input type="checkbox" title="Select all" [checked]="data.allComponentsSelected"
                        (change)="toggleAll()">
                    Component
                </label>
                <span *ngIf="!data.multiOption">
                    Component
                </span>
            </th>
            <th *ngIf="data.showDescription">
                Description
            </th>
            <ng-container *ngFor="let variant of data.variants">
                <th class="has-text-right">
                    Sentences
                </th>
                <th class="has-text-right" *ngIf="data.showWordCount">
                    Words
                </th>
            </ng-container>
            <th class="has-text-right">
                Sentences
            </th>
            <th class="has-text-right" *ngIf="data.showWordCount">
                Words
            </th>
        </tr>

        <tr *ngIf="data.variants.length">
            <!-- variant selector checkboxes -->
            <th *ngFor="let variant of data.variants">
                <label *ngIf="data.multiOption" class="checkbox"
                    [attr.disabled]="!data.multiOption || null"
                >
                    <input type="checkbox" 
                        [checked]="data.selectedVariants[variant.id]" 
                        [disabled]="!data.multiOption || null"
                        (change)="toggleVariant(variant)"
                    >
                    {{variant.id}}
                </label>
                <label *ngIf="!data.multiOption">{{variant.id}}</label>
            </th>
            <th *ngIf="data.showDescription">&nbsp;</th>
            <!-- Variant sentence/wordcount col headers -->
            <th *ngFor="let variant of data.variants" colspan="2" class="has-text-centered">
                {{variant.id}}
            </th>
            <th colspan="2" class="has-text-centered">Total</th>
        </tr>
    </thead>

    <!-- Main checkbox + title of the component. Can be passed null to render empty table cell. -->
    <ng-template #componentCheckbox
        let-component="component" 
        let-selected="selected"
    >
        <td *ngIf="!component"></td>
        <td *ngIf="component">
            <label 
                [class]="data.multiOption ? 'checkbox' : 'radio'"
                [attr.disabled]="component.disabled || null" 
                (click)="$event.stopPropagation()"
            >
                <input 
                    [type]="data.multiOption ? 'checkbox' : 'radio'" 
                    [disabled]="component.disabled"
                    [checked]="selected" 
                    (change)="toggleComponent(component)"
                >
                {{component.title}}
            </label>
        </td>
    </ng-template>

    <!-- Simple row for a group. A checkbox+label following by a description and sentence/word count -->
    <ng-template #componentRow 
        let-component="component" 
        let-selected="selected"
        let-showDescription="showDescription"
        let-showWordCount="showWordCount"
    >
        <tr (click)="toggleComponent(component.id)">
            <ng-container *ngTemplateOutlet="componentCheckbox; context: {selected, component}"/>
            <td *ngIf="showDescription">{{component.description}}</td>
            <td class="is-number">{{component.sentenceCount.toLocaleString()}}</td>
            <td class="is-number" *ngIf="showWordCount">{{component.wordCount.toLocaleString()}}</td>
        </tr>
    </ng-template>

    <!-- 
        A group is a collection of 1 component per variant in the treebank.
        So a treebank with 3 variants will have 3 components in each group.
        Renders a checkbox+name for every component in the group, 
        followed by the group's description
        and then the group's total sentence/word count.
    -->
    <ng-template #componentGroupRow
        let-group="group"
        let-selected="selected"
        let-showDescription="showDescription"
        let-showWordCount="showWordCount"
    >
        <tr (click)="toggleGroup(group)">
            <ng-template *ngFor="let component of group.components">
                <ng-container *ngTemplateOutlet="componentCheckbox; 
                    context: {
                        selected: selected[component.id], 
                        component: component
                    }"
                />
            </ng-template>
            <td *ngIf="showDescription">{{group.description}}</td>
            <ng-container *ngFor="let component of group.components">
                <td class="is-number">{{component.sentenceCount.toLocaleString()}}</td>
                <td class="is-number" *ngIf="showWordCount">{{component.wordCount.toLocaleString()}}</td>
            </ng-container>
            <th class="is-number">{{group.sentenceCount.toLocaleString()}}</th>
            <th class="is-number" *ngIf="showWordCount">{{group.wordCount.toLocaleString()}}</th>
        </tr>
    </ng-template>

    <tbody *ngIf="!data.componentGroups.length" else withGroups>
        <tr *ngFor="let component of data.components | keyvalue">
            <ng-container *ngTemplateOutlet="componentRow; 
                context: {
                    component: component.value, 
                    selected: data.selectedComponents[component.key], 
                    showDescription: data.showDescription, 
                    showWordCount: data.showWordCount
                }"
            />
        </tr>
    </tbody>

    
    

    <!-- <tbody *ngIf="(!treebank.componentGroups || !variants) else withGroups">
        <tr *ngFor="let c of components | keyvalue" (click)="toggleComponent(c.value)">
            TODO move into named template
            <td>
                <label [class]="treebank.multiOption ? 'checkbox' : 'radio'"
                    [attr.disabled]="c.value.disabled || null" (click)="$event.stopPropagation()">
                    <input [type]="treebank.multiOption ? 'checkbox' : 'radio'" [disabled]="c.value.disabled"
                        [checked]="c.value.selected" (change)="toggleComponent(c.value)">
                    {{c.value.title}}
                </label>
            </td>

            <td *ngIf="showDescription">{{c.value.description}}</td>
            <td class="is-number">{{c.value.sentenceCount.toLocaleString()}}</td>
            <td class="is-number" *ngIf="showWordCount">{{c.value.wordCount.toLocaleString()}}</td>
        </tr>
    </tbody> -->
    <ng-template #withGroups>
        <ng-template *ngFor="let group of data.componentGroups">
            <ng-container *ngTemplateOutlet="componentGroupRow; 
                context: {
                    group, 
                    selected: data.selectedGroups[group.id], 
                    showDescription: data.showDescription, 
                    showWordCount: data.showWordCount
                }"
            />
        </ng-template>
        <!-- <tbody>
            <tr *ngFor="let group of componentGroups" (click)="toggleGroup(group)">
                <td *ngFor="let variant of variants">
                    <label [class]="treebank.multiOption ? 'checkbox' : 'radio'"
                        [attr.disabled]="components[group.components[variant.name]].disabled || null"
                        (click)="$event.stopPropagation()">
                        <input [type]="treebank.multiOption ? 'checkbox' : 'radio'"
                            [disabled]="components[group.components[variant.name]].disabled"
                            [checked]="components[group.components[variant.name]].selected"
                            (change)="toggleComponent(components[group.components[variant.name]])">
                        {{components[group.components[variant.name]].title}}
                    </label>
                </td>
                <td *ngIf="showDescription">
                    {{group.description}}
                </td>
                <ng-container *ngFor="let variant of variants">
                    <td class="is-number">
                        {{components[group.components[variant.name]].sentenceCount.toLocaleString()}}
                    </td>
                    <td class="is-number" *ngIf="showWordCount">
                        {{components[group.components[variant.name]].wordCount.toLocaleString()}}
                    </td>
                </ng-container>
                <th class="is-number">
                    {{totalSentenceCountByGroup[group.key]}}
                </th>
                <th class="is-number" *ngIf="showWordCount">
                    {{totalWordCountByGroup[group.key]}}
                </th>
            </tr>
        </tbody> -->
    </ng-template>

    <tfoot>
        <tr>
            <td [attr.colspan]="(data.variants.length || 1) + (data.showDescription ? 1 : 0)">
                &nbsp;
            </td>
            <ng-container *ngFor="let variant of data.variants">
                <td class="is-number">{{variant.sentenceCount.toLocaleString()}}</td>
                <td class="is-number" *ngIf="data.showWordCount">{{variant.wordCount.toLocaleString()}}</td>
            </ng-container>
            <td class="is-number has-text-weight-bold">{{data.sentenceCount.toLocaleString()}}</td>
            <td class="is-number has-text-weight-bold" *ngIf="data.showWordCount">{{data.wordCount.toLocaleString()}}</td>
        </tr>
    </tfoot>
</table>
