<ul class="fa-ul">

    <li>
        <span class="fa-li">
            <i class="fas fa-address-book"></i>
        </span>
        <address>
            Instituut voor de Nederlandse Taal
            <br> Rapenburg 61
            <br> 2311 GJ Leiden
            <br> Netherlands
            <br>
        </address>
    </li>
    <li>
        <span class="fa-li">
            <i class="fas fa-link"></i>
        </span>
        <a href="https://ivdnt.org/" grtBalloonPosition="right" grtBalloon="INT Homepage" target="_blank">Instituut voor de Nederlandse Taal</a>
    </li>
    <li>
        <span class="fa-li">
            <i class="fas fa-phone"></i>
        </span>
        +31 (0)71 – 5141648
    </li>
    <li>
        <span class="fa-li">
            <i class="fas fa-envelope"></i>
        </span>
        <a href="mailto:servicedesk@ivdnt.org?subject=GrETEL%204" grtBalloonPosition="right" grtBalloon="Email us">servicedesk@ivdnt.org</a>
    </li>
</ul>
