
<div>
	<h1 class="title">Credits</h1>
	<div class="content">
		<p>
			Concept and initial implementation at
			<a href="http://www.arts.kuleuven.be/ling/ccl" grtBalloonPosition="down" grtBalloon="Centre for Computational Linguistics homepage"
				target="_blank">Centre for Computational Linguistics</a> (University of Leuven).
		</p>
		<ul>
			<li>
				<a href="http://www.ccl.kuleuven.be/~liesbeth/" grtBalloonPosition="right" grtBalloon="Liesbeth Augustinus homepage"
					target="_blank" rel="author" lang="nl-BE">Liesbeth Augustinus</a>
			</li>
			<li>
				<a href="http://www.ccl.kuleuven.be/~vincent/ccl/" grtBalloonPosition="right"
					grtBalloon="Vincent Vandeghinste homepage" target="_blank" rel="author" lang="nl-BE">Vincent
					Vandeghinste</a>
			</li>
			<li>
				<a href="http://bramvanroy.be" grtBalloonPosition="right" grtBalloon="Bram Vanroy homepage"
					target="_blank" rel="author" lang="nl-BE">Bram Vanroy</a>
			</li>
		</ul>
		<p>
			GrETEL 4+ at
			<a href="https://dig.hum.uu.nl" grtBalloonPosition="right" grtBalloon="Digital Humanities Lab homepage"
				target="_blank">Digital Humanties Lab</a> (Utrecht University).
		</p>
		<ul>
			<li>
				<a href="https://www.uu.nl/staff/JEJMOdijk" grtBalloonPosition="right" grtBalloon="Jan Odijk homepage"
					target="_blank" rel="author" lang="nl-NL">Jan Odijk</a> (project lead)</li>
			<li>
				<a href="https://www.uu.nl/staff/MHvanderKlis" grtBalloonPosition="right" grtBalloon="Martijn van der Klis homepage"
					target="_blank" rel="author" lang="nl-NL">Martijn van der Klis</a>
			</li>
			<li>
				<a href="https://www.uu.nl/staff/SJJSpoel" grtBalloonPosition="right" grtBalloon="Sheean Spoel homepage"
					target="_blank" rel="author" lang="nl-NL">Sheean Spoel</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/gerson-foks-50b784b2" grtBalloonPosition="right" grtBalloon="Gerson Foks homepage"
					target="_blank" rel="author" lang="nl-NL">Gerson Foks</a>
			</li>
			<li>
				<a href="https://www.uu.nl/medewerkers/JvanBoheemen" grtBalloonPosition="right"
					grtBalloon="Jelte van Boheemen homepage" target="_blank" rel="author" lang="nl-NL">Jelte
					van Boheemen</a>
			</li>
			<li>
				<a href="https://www.uu.nl/staff/TCBaarda" grtBalloonPosition="right" grtBalloon="Tijmen Baarda homepage"
					target="_blank" rel="author" lang="nl-NL">Tijmen Baarda</a>
			</li>
			<li>
				<a href="https://www.uu.nl/staff/BBonfil" grtBalloonPosition="right" grtBalloon="Ben Bonfil homepage"
					target="_blank" rel="author" lang="nl-NL">Ben Bonfil</a>
			</li>
		</ul>
		<p>
			Additionally:
		</p>
		<ul>
			<li>
				<a href="https://github.com/KCMertens" grtBalloonPosition="right"
					grtBalloon="Koen Mertens homepage" target="_blank" rel="author" lang="nl-NL">Koen Mertens</a> (<a href="https://ivdnt.org" target="_blank" >Instituut voor de Nederlandse taal</a>)
			</li>
		</ul>
	</div>
</div>