@import "~bulma/sass/utilities/mixins";

.uu-logo,
.dig-logo,
.gretel-logo,
.clariah-logo,
.int-logo {
    display: inline-block;
    max-width: 200px;
}

.dig-logo {
    padding: 10px;
    background-color: #3273dc;
}

.column.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    @include until($tablet) {
        justify-content: flex-start;
    }
}

.gretel-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.version {
    line-height: 3em;
}
