<footer class="footer is-hidden-print">
    <div class="container">
        <div class="columns">
            <div class="column logo logo-gretel">
                <h1 class="title">GrETEL</h1>
                <img class="gretel-logo" src="assets/logo_gretel.svg" alt="Logo GrETEL" height="100px" width="100px"/>
            </div>
            <div class="column logo logo-kuleuven">
                <a href="https://www.kuleuven.be/kuleuven" target="_blank">
                    <img src="assets/logo_kuleuven.svg" alt="Logo KU Leuven" data-transform="scale(1.3) translateX(-20%)"/>
                </a>
            </div>
            <div class="column logo logo-uu">
                <a href="https://uu.nl" target="_blank">
                    <img src="assets/utrecht-university.svg" alt="Logo Utrecht University" />
                </a>
            </div>
            <div class="column logo logo-int">
                <a href="https://www.ivdnt.org/" target="_blank">
                    <img src="assets/logo_ivdnt.svg" alt="Logo INT" width="165px" />
                </a>
            </div>
            <div class="column logo logo-ugent">
                <a href="https://www.ugent.be/" target="_blank">
                    <img src="assets/logo_ugent.svg" alt="Logo Universiteit Gent" />
                </a>
            </div>
        </div>
        <p class="version">
            <em>Version: {{version}}</em>&nbsp;
            <a [routerLink]="['/about']" fragment="credits" class="about-link"><fa-icon [icon]="faLink"></fa-icon> About</a>
        </p>
    </div>
</footer>
